@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Satisfy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;500;700&display=swap");


* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  overflow: hidden;
}

.orderback {
  background: url("https://images.unsplash.com/photo-1521917441209-e886f0404a7b?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1600&q=80");
  max-height: max-content;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  
}

.placein {
  padding: 10px;
  color: gray;
  width: 350px;
  border: none;
  outline: none;
}
.bs {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  position: relative;
  left: 150px;
  display: inline;
  background-color: #f0a500;
  border: none;
  color: white;
  padding: 5px;
}
.b {
  background-color: #9e9d89;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  position: relative;
  left: 300px;
  top: 10px;
  border: none;
  color: white;
  padding: 5px;
}
.b:hover {
  background-color: red;
}
.ta {
  padding: 10px;
  color: gray;
  width: 350px;
  border: none;
  outline: none;
}
.place {
  margin: auto;
  text-align: center;
  outline: none;
  background: transparent;
  box-shadow: 4px 4px 15px -10px rgba(0, 0, 0, 0.9);
  width: min-content;
  height: 120px;
}
.note {
  margin: 90px;
  outline: none;
  display: inline-block;
  background: transparent;
  box-shadow: 4px 4px 15px -10px rgba(0, 0, 0, 0.9);
  width: max-content;
  background-color: white;
}
.icons {
  margin: 20px 100px;
  padding-left: 480px;
}
.icon {
  margin: 50px;
  color: #1e6f5c;
  transform: scale(1.6);
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,600);
.ft {
  background: #303236;
  color: #fff;
  padding: 10px 0;
  line-height: 1.5;
}
.containerft {
  width: 100%;
  max-width: 1100px;
  padding: 0 20px;
  margin: 0 auto;
}
.end a {
  text-decoration: none;
  color: #ccc;
}
.end a:hover {
  text-decoration: none;
  color: #fff;
}
hr {
  opacity: 0.3;
}
.ft .end {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  padding: 20px 0 0 0;
}
@media (max-width: 640px) {
  .items {
    flex-basis: 80%;
    margin: auto;
  }
}
.contact {
  margin: auto;
  text-align: center;
  background: rgba(0, 0, 0, 0.4);
  width: 400px;
  height: 350px;
  overflow: hidden;
}
.tac {
  padding: 5px;
  border: none;
  outline: none;
  border-radius: 6px;
  width: 300px;
  height: 100px;
}
.btc {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  display: inline;
  background-color: #f0a500;
  border: none;
  color: white;
  padding: 5px;
}
#button-addon1 {
  color: #ffc371;
}

.form-control::placeholder {
  font-size: 0.95rem;
  color: #aaa;
  font-style: italic;
}

.form-control.shadow-0:focus {
  box-shadow: none;
}

.profile{
  color: rgb(97, 9, 97);
  font-weight: bold;
  text-emphasis-color: rgb(97, 9, 97);

}



.main {
  width: 50%;
  margin: 50px auto;
  border-radius: 50%;
}
